<h1>STUPID COACHING</h1>
<p class="asking">ask your questions</p>

<form action="/answer">
  <input class="example" type="text" name="question">
  <input class="btn" type="submit" value="Ask!">
</form>
